.navbar {
        border:1px solid #000000;
        background-color: #4444;
        padding:10px;
}

.navbar a {
        color:#fff;
        text-decoration: none;
        padding:20px;
}

.navbar a :hover {
        background-color: #666;
}